// out: ../demo.css

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

html {

    body {
        font-family: 'Ubuntu', sans-serif;
        font-size: 100%;
        font-weight: 400;
        background-color: white;

        #top, #bottom {
            height: 50%;
            box-sizing: border-box;
            //background-color: gray;
            button {
                position: relative;
                box-sizing: border-box;
                border-radius: 25px;
                height: 90%;
                width: 90%;
                margin: 6% 5% 2%;
                border: 1px solid dimgray;
                border-bottom-width: 2px;
                background-color: darkgray;

                &:focus {
                    outline: none;
                    border-bottom-width: 1px;
                    border-top-width: 2px;
                }
            }
        }
        
        #top {
            button {
                margin: 6% 5% 2%;
                background-color: tomato;
                border-color: rgb(168, 65, 47);
                
                &:focus {
                    border-color: rgb(46, 18, 13);
                    background-color: rgb(141, 55, 40);
                }
            }
        }

        #bottom {
            button {
                margin: 2% 5% 6%;
                background-color: mediumaquamarine;
                border-color: rgb(64, 128, 106);
                
                &:focus {
                    border-color: rgb(22, 44, 37);
                    background-color: rgb(46, 92, 77);
                }
            }
        }
    }
}
