// out: ../demo.css

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

html {

    body {
        font-family: 'Ubuntu', sans-serif;
        font-size: 100%;
        font-weight: 400;
        background-color: white;
        position: fixed;
        overflow: hidden;

        #valueOne, #valueTwo, #keyboard {
            display: inline-block;
            position: relative;
            width: 100%;
            
        }
        
        #valueOne {
            background-color: tomato;
            height: 25%;
        }

        #valueTwo {
            background-color: mediumaquamarine;
            height: 25%;
        }

        #keyboard {
            background-color: white;
            height: calc(30pt * 4);
            #rowOne, #rowTwo, #rowThree, #rowFour {
                background-color: white;
                box-sizing: border-box;
                padding: 0 1% 0 1%;
                
                &:last-of-type {
                    padding-bottom: 1%;
                }

                @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation:portrait) {
                    height: 22pt;
                }

                @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation:portrait) {
                    height: 28pt;
                }

            }
            .keyCap {
                display: inline-block;
                box-sizing: border-box;
                border: 0 none;
                padding: 2% 1% 0 1%;
                margin: 0;
                margin-right: -3pt;
                background-color: white;

                &:focus, &:active {
                    outline: none;
                }

                @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation:portrait) {
                    width: 34pt;
                    height: 22pt;
                }

                @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation:portrait) {
                    width: 44pt;
                    height: 28pt;
                }

                .keyButton {
                    background-color: rgb(236, 236, 236);
                    border: 0 none;
                    width: 100%;
                    height: 100%;
                    border-radius: 2px;
                    font-weight: 700;
                    color: rgb(94, 94, 94);

                    &:focus {
                        outline: none;
                        
                    }
                    
                    &:active {
                        background-color: rgb(207, 207, 207);
                    }

                    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation:portrait) {
                        font-size: 65%;
                    }

                    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation:portrait) {
                        font-size: 75%;
                    }
                }
            }
        }
    }
}
