* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
html body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
  font-weight: 400;
  background-color: white;
  position: fixed;
  overflow: hidden;
}
html body #valueOne,
html body #valueTwo,
html body #keyboard {
  display: inline-block;
  position: relative;
  width: 100%;
}
html body #valueOne {
  background-color: tomato;
  height: 25%;
}
html body #valueTwo {
  background-color: mediumaquamarine;
  height: 25%;
}
html body #keyboard {
  background-color: white;
  height: calc(120pt);
}
html body #keyboard #rowOne,
html body #keyboard #rowTwo,
html body #keyboard #rowThree,
html body #keyboard #rowFour {
  background-color: white;
  box-sizing: border-box;
  padding: 0 1% 0 1%;
}
html body #keyboard #rowOne:last-of-type,
html body #keyboard #rowTwo:last-of-type,
html body #keyboard #rowThree:last-of-type,
html body #keyboard #rowFour:last-of-type {
  padding-bottom: 1%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  html body #keyboard #rowOne,
  html body #keyboard #rowTwo,
  html body #keyboard #rowThree,
  html body #keyboard #rowFour {
    height: 22pt;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
  html body #keyboard #rowOne,
  html body #keyboard #rowTwo,
  html body #keyboard #rowThree,
  html body #keyboard #rowFour {
    height: 28pt;
  }
}
html body #keyboard .keyCap {
  display: inline-block;
  box-sizing: border-box;
  border: 0 none;
  padding: 2% 1% 0 1%;
  margin: 0;
  margin-right: -3pt;
  background-color: white;
}
html body #keyboard .keyCap:focus,
html body #keyboard .keyCap:active {
  outline: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  html body #keyboard .keyCap {
    width: 34pt;
    height: 22pt;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
  html body #keyboard .keyCap {
    width: 44pt;
    height: 28pt;
  }
}
html body #keyboard .keyCap .keyButton {
  background-color: #ececec;
  border: 0 none;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  font-weight: 700;
  color: #5e5e5e;
}
html body #keyboard .keyCap .keyButton:focus {
  outline: none;
}
html body #keyboard .keyCap .keyButton:active {
  background-color: #cfcfcf;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  html body #keyboard .keyCap .keyButton {
    font-size: 65%;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
  html body #keyboard .keyCap .keyButton {
    font-size: 75%;
  }
}
