* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
html body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
  font-weight: 400;
  background-color: white;
}
html body #top,
html body #bottom {
  height: 50%;
  box-sizing: border-box;
}
html body #top button,
html body #bottom button {
  position: relative;
  box-sizing: border-box;
  border-radius: 25px;
  height: 90%;
  width: 90%;
  margin: 6% 5% 2%;
  border: 1px solid dimgray;
  border-bottom-width: 2px;
  background-color: darkgray;
}
html body #top button:focus,
html body #bottom button:focus {
  outline: none;
  border-bottom-width: 1px;
  border-top-width: 2px;
}
html body #top button {
  margin: 6% 5% 2%;
  background-color: tomato;
  border-color: #a8412f;
}
html body #top button:focus {
  border-color: #2e120d;
  background-color: #8d3728;
}
html body #bottom button {
  margin: 2% 5% 6%;
  background-color: mediumaquamarine;
  border-color: #40806a;
}
html body #bottom button:focus {
  border-color: #162c25;
  background-color: #2e5c4d;
}
