* {
  margin: 0;
  padding: 0;
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
/*https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting*/
html,
body {
  height: 100%;
  width: 100%;
}
html body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 205%;
  font-weight: 400;
  background-color: white;
  position: fixed;
  overflow: hidden;
}
html body #appWrapper {
  position: absolute;
  top: 8pt;
  bottom: 8pt;
  left: 8pt;
  right: 8pt;
}
html body #appWrapper #valueTwoNumber {
  font-size: 58px;
  text-align: right;
  padding-right: 11px;
  color: #5E5E5E;
}
html body #appWrapper #keypad {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  text-align: center;
}
html body #appWrapper #keypad .keyCap {
  background-color: white;
  box-sizing: border-box;
  width: 33.3%;
  height: 100%;
  margin: 0;
  border: 1px solid #C4C4C4;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: normal;
  color: #959595;
}
html body #appWrapper #keypad .keyCap:focus {
  outline: 0;
}
html body #appWrapper #keypad .keyCap:active {
  border-width: 2px;
  border-color: #C0C0C0;
  background-color: #FAFAFA;
}
html body #appWrapper #keypad .key0,
html body #appWrapper #keypad .key1,
html body #appWrapper #keypad .key2,
html body #appWrapper #keypad .key3,
html body #appWrapper #keypad .key4,
html body #appWrapper #keypad .key5,
html body #appWrapper #keypad .key6,
html body #appWrapper #keypad .key7,
html body #appWrapper #keypad .key8,
html body #appWrapper #keypad .key9,
html body #appWrapper #keypad .key10,
html body #appWrapper #keypad .key11 {
  height: 60pt;
}
html body #appWrapper #keypad .key12,
html body #appWrapper #keypad .key13,
html body #appWrapper #keypad .key14 {
  height: 44pt;
}
